<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body style="background-color: aquamarine;">   
        <div style= "text-align: center;margin-top: 25%; font-weight: 900;"> World's most Hardcore FFA chat, AKA Chitter.
        <form action = '/signup' method='get'>
            <br><input style='height: 20px;width: 100px; left: 50%;' id='signUp' type='submit' value= 'Signup'>
        </form><br>
        <form action = '/signin' method='get'>
            <input style='height: 20px;width: 100px; left: 50%;' id='signIn' type='submit' value= 'LogIn'>
        </form>
        </div>
    </body>
</html>
