<form action="/signin" method="post">
    <input id='emailSignIn' type= "text" name="email" placeholder="email">
    <input id='passwordHashSignIn' type= "text" name="passwordHash" placeholder="passwordHash">
    <input id='submitSignIn' type= "submit" value="login">
</form>