<form action="/signup" method="post">
    <input id='emailSignUp' type= "text" name="email" placeholder="email">
    <input id='passwordHashSignUp' type= "text" name="passwordHash" placeholder="passwordHash">
    <input id='submitSignUp' type= "submit" value="signup">
</form>